body {
  background-color: #666;
  color: #222;
  margin: 0;
  padding: 0;
  min-height: 100vw;
}

.menu-bar {
  background: #222;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.menu-bar .uk-svg {
  transform: translate(0, 0) scale(1.5);
  margin-top: 8px;
}

.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-3xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-container input {
  display: none;
}

.toggle-container .label-text {
  display: inline-block;
  margin-left: 10px;
}

.toggle-container .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-container .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle-container input:checked+.slider {
  background-color: #060;
}

.toggle-container input:checked+.slider:before {
  transform: translateX(26px);
}